##Automation system properties

#IPA parameters
ipa.version=2.1
ipa.server.url=http://rhel61-server5.testrelm




#Selenium parameters
selenium.address=rhel61-server5.testrelm:4444
selenium.delay=0
selenium.version=1.3
selenium.browser.path=/usr/bin/firefox
#selenium.screenshot.link.path=../artifact/automatjon/jon-2.0/test-output/screenshots
#you can set the screenshot dir to /var/www/html/xxx to make them web accessable 
selenium.screenshot.dir=/var/www/html/IPATests

ipa.server.url=https://rhel61-server5.testrelm


#Bugzilla
bugzilla.login=rhq-xmlrpc@redhat.com
bugzilla.password=rrEY3XQcIi
bugzilla.url=https://bugzilla.redhat.com/bugzilla/xmlrpc.cgi



