
######### attributes for new user added from master
firstName="Minny"
lastName="Jackson"
cn="\"Minny Jackson\""
displayName="Minny"
initials="MJS"
homedir="/home/MJackson"
gecos="Minny"
shell="/bin/sh"
principal="mjackson@$RELM"
email="mjackson@redhat.com" 
password="minny" 
uid="5000"
gidnumber="5000"
street="\"Redhat Street\""
city="Westford"
state="MA"
postalcode="12345"
phone="9781234567"
mobile="7819876543"
pager="6171234567"
fax="5081237890"
orgunit="Doc"
title="Writer"
manager="celia"
carlicense="1234"
login="mjackson"
# TODO: addattr, setattr, changes brought by user-disable, user-enable


######### attributes for new user modified from master
firstName_updated="Abby"
lastName_updated="Clarkson"
cn_updated="\"Abby Clarkson\""
displayName_updated="Abby"
initials_updated="AC"
homedir_updated="/home/AClarkson"
gecos_updated="Abby"
shell_updated="/bin/sh"
email_updated="aclarkson@redhat.com"
password_updated="abby"
street_updated="\"Jacksonville Street\""
city_updated="Montgomery"
state_updated="AL"
postalcode_updated="069845"
phone_updated="3857218466"
mobile_updated="6286290477"
pager_updated="8134746288"
fax_updated="9058408399"
orgunit_updated="HR"
title_updated="Publisher"
manager_updated="leefolt"
carlicense_updated="78403"
login_updated="aclarkson"

######### attributes for a new group added from master
groupName="reviewer"
dn="cn=$groupName,cn=groups,cn=accounts,$BASEDN"
desc="\"users in this group can review the book\""
gid="5002"
groupMember1="eileen"
groupMember2="karen"
# TODO: addattr, setattr, changes brought by group-detach 


######### attributes for a new non-posix group added from master
groupName_nonposix="publisher"
desc_nonposix="\"users in this group publish the book\""

######### attributes for anew group modified from master
groupName_updated="reader"
desc_updated="\"users in this group get updates\""
groupMember1_updated="patrick"
groupMember2_updated="sara"
groupName_nonposix_updated="printer"


######### attributes for a new host added from master
newHost="harper.$DOMAIN"
hostDesc="\"For the Reviewer team\"" 
#hostLocality="Westford"
hostLocation="\"3rd Floor Lab\"" 
hostPlatform="\"Lenovo T510\""
hostOS="\"RHEL 6.1\""
hostPassword="Secret123"
hostIPaddress="\"10.16.84.13\""
# TODO:  --password=$hostPassword_updated \
#        --principalname=$hostPrincipal_updated \
# changes brought by host-disable


# atributes for a new host to use as managed-by host
managedByHost="dreamworks.$DOMAIN"
managedByHostIP="\"10.16.84.17\""

######### attributes for a new host modified from a master
host_updated="row.$DOMAIN"
hostDesc_updated="\"For the Publisher team\"" 
hostLocality_updated="Raleigh"
hostLocation_updated="\"2nd Floor Lab\"" 
hostPlatform_updated="\"Lenovo T6\""
hostOS_updated="\"RHEL 6.0\""
#hostPassword_updated="Secret456"
managedByHost_updated="penguin.$DOMAIN"
hostPrincipal_updated="host/$host_updated@$RELM"


######### attributes for a new hostgroup added from master
hostgroup="westford"
hostgroup22="cambridge"
hostgroup_desc="Westford hosts"
hostgroup_groupMember1="bldg1"
hostgroup_groupMember2="bldf1"


######### attributes for a new host modified from a master
hostgroup_updated="raleigh"
hostgroup_desc_updated="NC hosts"
hostgroup_groupMember1_updated="bldg2_hosts"
hostgroup_groupMember2_updated="bldf2_hosts"



######### attributes for a new netgroup added from master
netgroup="admins"
netgroup2="notadmins"
netgroup_desc="\"NFS admins\""
netgroup_groupMember1="mailadmins"

######### attributes for a new netgroup modified from master
netgroup_updated="hradmins"
netgroup2_updated="donkeyadmins"
netgroup_desc_updated="\"HR admin\""
netgroup_groupMember1_updated="benefitsadmins"
netgroup_groupMember2_updated="eviladmins"


######### attributes for new service added from master
service=vpn/$MASTER@$RELM
service2=nfs/$MASTER@$RELM
keytab=False
subject="CN=rhel61-server4.testrelm,O=$RELM"
issuer="CN=Certificate Authority,O=$RELM"

######### attributes for a new service modified from master
service_updated=ntpd/$SLAVE@$RELM
service2_updated=lsmtp/$MASTER@$RELM
subject_updated="CN=rhel61-server3.testrelm,O=$RELM"
service_managedby_attr="fqdn=$managedByHost_updated,cn=computers,cn=accounts,$BASEDN"
service_managedby_attr2="fqdn=$managedByHost,cn=computers,cn=accounts,$BASEDN"

############# hbac service ########################
hbacservice1="rlogin"
hbacservice2="qlogin"


########### dns ##################
zone=repnewzone
arec="alpha2.$zone"
slavearec="beta2.$zone"
a="1.2.3.4"
slavea="6.5.4.3"
ipaddr=`hostname`
email="ipaqar.redhat.com"
serial=2010010701
refresh=303
retry=101
expire=1202
minimum=33
ttl=55


########## hbac ################\
REALM=`os_getdomainname | tr "[a-z]" "[A-Z]"`
DOMAIN=`os_getdomainname`

host1="dev-host-hbac."$DOMAIN

user1="dev-hbac"

usergroup1="dev-ugrp-hbac"

hostgroup1="dev-hosts-hbac"

hostgroup2="dev-slave-hbac"

servicegroup="remote-access-hbac"

################   permission ###############
puser1="puser"
puser2="ruser"


############# sudo ################
rule1=sudorule1
rule2=sudorule2


################  sudo cmd ##################
cmdrule1="/use/local/bin/nonexist"
cmdrule2="/use/local/bin/alsononexist"

################ sudo cmd grp ###############
cmdgrp1=repadmins
cmdgrp2=loosingadmins


############## pw policy ###########
tg="pwtestg"
ts="pwtests"


################  self-service  ################
ss="users-self-s"
sr="users-self-r"


############## priv ###############
priv="rep-priv"
priv2="dem-priv"


################# role ###################
role="rep-rtst"
role2="dem-rtst"


