##Automation system properties

#IPA parameters
ipa.version=2.1
ipa.server.url=http://optimus.lab.eng.pnq.redhat.com
ipa.server.admin=admin
ipa.server.password=Secret123
ipa.server.realm=TESTRELM
ipa.server.domain=testrelm

#ipa.server.url=http://rhel62-server.testrelm
ipa.browser.path=/usr/bin/firefox
ipa.browser.type=firefox
ipa.browser.name=firefox
ipa.browser.opt=
ipa.sahi.base.dir=/root/sahi
ipa.sahi.userdata.dir=/root/sahi/userdata

#Selenium parameters
#selenium.address=rhel61-server5.testrelm:4444
#selenium.address=rhel62-server.testrelm:4444
#selenium.delay=0
#selenium.version=1.3
#selenium.browser.path=/usr/bin/firefox
#selenium.screenshot.link.path=../artifact/automatjon/jon-2.0/test-output/screenshots
#you can set the screenshot dir to /var/www/html/xxx to make them web accessable 
#selenium.screenshot.dir=/var/www/html/IPATests

#Sahi parameters
SAHI_USERDATA_DIR=/root/sahi/userdata
SAHI_BASE=/root/sahi

##distro-specific settings
#cob.distro.name=RHEL5-i386
#cob.distro.kernel=/mnt/engarchive/released/RHEL-5-Server/U4/i386/os/isolinux/vmlinuz
#cob.distro.initrd=/mnt/engarchive/released/RHEL-5-Server/U4/i386/os/isolinux/initrd.img
#cob.distro.xen.kernel=/mnt/engarchive/released/RHEL-5-Server/U4/i386/os/images/xen/vmlinuz
#cob.distro.xen.initrd=/mnt/engarchive/released/RHEL-5-Server/U4/i386/os/images/xen/initrd.img

#cob.distro.osversion=rhel5

#profile-specific settings
#cob.profile.name=RHEL5-i386-profile
#cob.profile.template=/var/lib/cobbler/kickstarts/sample.ks
#cob.profile.kickstart=/var/lib/cobbler/kickstarts/sample.ks

#TCMS integration parameters
#testopia.url=https://testopia.devel.redhat.com/bugzilla/tr_xmlrpc.cgi
testopia.url=https://tcms.engineering.redhat.com/xmlrpc
#testopia.login=jweiss+jonqa@redhat.com
#testopia.password=dog8code
testopia.login=nsoman
testopia.password=xxx
testopia.testrun.product=Red Hat Enterprise Linux 6
testopia.testrun.testplan=IPA WebUI group operations test plan


#Bugzilla
bugzilla.login=rhq-xmlrpc@redhat.com
bugzilla.password=rrEY3XQcIi
bugzilla.url=https://bugzilla.redhat.com/bugzilla/xmlrpc.cgi


#RHO
git.repo=git://github.com/jmrodri/rho.git
local.path=rho/bin/
private.key01=.ssh/id_dsa
private.key02=.ssh/id_dsa_two
private.key03=.ssh/id_dsa_bad
remote.user=root

#hostname of machine with the rho code
#local.hostname=10.16.18.76
#user on local.hostname that will be used to run the actual rho commands
#local.user=nk
#hostname01 is used w/ scan.verify.01
remote.hostname01=auto-jon23.usersys.redhat.com
#hostname02 can be a different os
remote.hostname02=auto-jon22.usersys.redhat.com
#should be a virt host
remote.virt.host=sat-blade-7.idm.lab.bos.redhat.com
#should be a virt guest
remote.virt.guest=auto-jon23.usersys.redhat.com
#ip.range='10.16.79.174 - 10.16.79.176' (deprecated)
ip.diff=5
#The output of /etc/*-release or other for other os's
remote.hostname01.verify=Red Hat Enterprise Linux Server release 5.4 (Tikanga)
remote.hostname02.verify=Red Hat Enterprise Linux Server release 5.4 (Tikanga)
remote.virt.host.verify=Red Hat Enterprise Linux Server release 5.4 (Tikanga)
remote.virt.guest.verify=Red Hat Enterprise Linux Server release 5.4 (Tikanga)


