Owner:           r2d2_author <r2d2_authoremail>
Name:            /CoreOS/ipa-server/acceptance/r2d2_testsuitename
TestVersion:     1.0
Path:            /mnt/tests/CoreOS/ipa-server/acceptance/r2d2_testsuitename
Description:     r2d2_description
Type:            Regression
TestTime:        30m
RunFor:          ipa-server
Requires:        ipa-admintools
Requires:        expect
Priority:        Normal
License:         GPLv2
Confidential:    no
Destructive:     no
