%testcaseName(){
    rlPhaseStartTest "%testcaseName"
        rlLog "[%testcaseType] %testcaseComment"
        rlLog "%testcaseData"
        rlRun "%testcaseCommand" %testcaseExceptedReturnCode 
        %testresultVerification
    rlPhaseEnd
}
